---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.onlinebetaalplatform.nl/v1/merchants
    body:
      encoding: UTF-8
      string: emailaddress=kymani1552403092%40marley.com&name_first=Kymani&name_last=Marley&phone=321321321&type=consumer&country=nld&notify_url=https%3A%2F%2Fdev.plugify.nl%2Fmerchant_notify
    headers:
      Authorization:
      - Basic REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"livemode":false,"uid":"mer_8a3f13b898e3","object":"merchant","created":1552403094,"updated":1552403094,"status":"pending","compliance":{"level":100,"status":"verified","requirements":[]},"type":"consumer","coc_nr":null,"name":"Kymani
        Marley","phone":"321321321","vat_nr":null,"country":"nld","sector":null,"addresses":[],"trading_names":[],"contacts":[],"profiles":[],"payment_methods":[],"notify_url":"https:\/\/dev.plugify.nl\/merchant_notify"}'
  recorded_at: Tue, 12 Mar 2019 15:04:54 GMT
recorded_with: VCR 4.0.0
