---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.onlinebetaalplatform.nl/v1/merchants/mer_09c609a961db
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic REDACTED
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"livemode":false,"uid":"mer_09c609a961db","object":"merchant","created":1551713009,"updated":1552399338,"status":"live","compliance":{"level":200,"status":"pending","requirements":[{"type":"bank_account.verification.required","status":"pending","object_uid":"bnk_2dc0825cea81","object_type":"bank_account","object_url":"https:\/\/api-sandbox.onlinebetaalplatform.nl\/v1\/merchants\/mer_09c609a961db\/bank_accounts\/bnk_2dc0825cea81","object_redirect_url":"https:\/\/sandbox.onlinebetaalplatform.nl\/nl\/plugify\/merchants\/mer_09c609a961db\/verificatie\/bankgegevens\/bnk_2dc0825cea81\/410bb2c420ea20f4c4520aa5f3603e4384aaab7d"}]},"type":"open","coc_nr":"","name":"Plugify","phone":null,"vat_nr":null,"country":null,"sector":null,"addresses":[],"trading_names":[],"contacts":[],"profiles":[],"payment_methods":[],"notify_url":null}'
  recorded_at: Tue, 12 Mar 2019 15:04:52 GMT
- request:
    method: get
    uri: https://api-sandbox.onlinebetaalplatform.nl/v1/merchants/mer_09c609a961db/bank_accounts
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic REDACTED
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"object":"list","url":"\/v1\/merchants\/mer_09c609a961db\/bank_accounts","has_more":false,"total_item_count":2,"items_per_page":10,"current_page":1,"last_page":1,"data":[{"uid":"bnk_2dc0825cea81","object":"bank_account","created":1552399299,"updated":1552400005,"verified":null,"verification_url":"https:\/\/sandbox.onlinebetaalplatform.nl\/nl\/plugify\/merchants\/mer_09c609a961db\/verificatie\/bankgegevens\/bnk_2dc0825cea81\/410bb2c420ea20f4c4520aa5f3603e4384aaab7d","status":"pending","account":{"account_iban":"NL53***********370"},"bank":{"bic":"INGBNL2A"},"reference":null,"return_url":"https:\/\/dev.plugify.nl\/return","notify_url":"https:\/\/dev.plugify.nl\/return","is_default":false},{"uid":"bnk_4f667c80db41","object":"bank_account","created":1552400005,"updated":1552400005,"verified":null,"verification_url":"https:\/\/sandbox.onlinebetaalplatform.nl\/nl\/plugify\/merchants\/mer_09c609a961db\/verificatie\/bankgegevens\/bnk_4f667c80db41\/536db737a51a2ab8d14994cff5e58f3de2b1a20d","status":"new","account":{"account_iban":null},"bank":{"bic":null},"reference":null,"return_url":"https:\/\/dev.plugify.nl\/return","notify_url":"https:\/\/dev.plugify.nl\/return","is_default":true}]}'
  recorded_at: Tue, 12 Mar 2019 15:05:49 GMT
recorded_with: VCR 4.0.0
