---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.onlinebetaalplatform.nl/v1/merchants/mer_09c609a961db
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic REDACTED
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"livemode":false,"uid":"mer_09c609a961db","object":"merchant","created":1551713009,"updated":1552399338,"status":"live","compliance":{"level":200,"status":"pending","requirements":[{"type":"bank_account.verification.required","status":"pending","object_uid":"bnk_2dc0825cea81","object_type":"bank_account","object_url":"https:\/\/api-sandbox.onlinebetaalplatform.nl\/v1\/merchants\/mer_09c609a961db\/bank_accounts\/bnk_2dc0825cea81","object_redirect_url":"https:\/\/sandbox.onlinebetaalplatform.nl\/nl\/plugify\/merchants\/mer_09c609a961db\/verificatie\/bankgegevens\/bnk_2dc0825cea81\/410bb2c420ea20f4c4520aa5f3603e4384aaab7d"}]},"type":"open","coc_nr":"","name":"Plugify","phone":null,"vat_nr":null,"country":null,"sector":null,"addresses":[],"trading_names":[],"contacts":[],"profiles":[],"payment_methods":[],"notify_url":null}'
  recorded_at: Tue, 12 Mar 2019 15:04:52 GMT
recorded_with: VCR 4.0.0
